# Dependencies
node_modules/

# Environment Variables
.env

# Build
dist/

# Logs
logs/
*.log

# Prisma
prisma/dev.db
prisma/dev.db-journal

# Uploads
uploads/

# Coverage
coverage/

# OS
.DS_Store
Thumbs.db